<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://github.com/@Pabitra-panda2002" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github"></i></a>
          <a href="https://www.instagram.com/pabitra._.15" target="_blank" rel="noopener noreferrer"></a> <i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.linkedin.com/in/pabitra-panda-aa5730304" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;Wanderlust private limited.</div>
        <div class="f-info-link">
            <a href="">Privacy </a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>