<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-6 mt-3 offset-3">
    <h1>Signup Wanderlust</h1>
    </div>
    <div class="col-6 mt-3 offset-3">
        <form action="/signup" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <lable for="username" class="form-lable">Username</lable>    
                <input type="text" name="username"  id="username" placeholder="Enter username" class="form-control" required>
                <div class="invalid-feedback">
                 Enter your username
                </div>
            </div>

            <div class="mb-3">
                <lable for="email" class="form-lable">Email</lable>    
                <input type="email" name="email"  id="username" placeholder="Enter email" class="form-control" required>
                <div class="invalid-feedback">
                 Enter your email
                </div>
            </div>

            <div class="mb-3">
                <lable for="password" class="form-lable">Password</lable>    
                <input type="password"  id="password" name="password" placeholder="Enter password" class="form-control" required>
                <div class="invalid-feedback">
                 Enter password
                </div>
            </div>
            <button class="btn btn-dark">Signup</button>
        </form>
    </div>
</div>